@charset "utf-8";

@media only screen and (min-width: 960px) {

    #movMenu{
        display:none;
    }

    #navegadorMain{

        display: flex !important;

    }
}

@media only screen and (max-width: 960px) {

    /*--------HEADER------------*/


    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #userInfo{
        padding-right: 15px !important;
    }

    #userInfo span{
        display: none !important;
    }

    #iniciarSesion span{
        display: none !important;
    }

    #iniciarSesion{
        padding-right: 15px !important;
    }

    .avatar{
        padding: 3px 0 5px 0px !important;
    }

    .arrow{
        display: block !important;
        margin-left: 40px !important;
    }

    /*-----------MENUS DESPLEGABLE-------------*/

    #navegadorMain, #navegadorUser{
        display: none;
        position: absolute;
        top: 0;
        flex-direction: column !important;
        justify-content: center;
        margin: 0 !important;
        width: 49%;
    }

    #navegadorMain{
        left: 0;
    }

    #navegadorUser{
        right: 0;
    }

    .notSelected{
        opacity: 1 !important;
        background: #990e15 !important;
    }

    #navegadorMain li a:hover, #navegadorUser li a:hover{
        background: #FF1D28 !important;
    }

    #navegadorMain li, #navegadorUser li{
        margin: 0 !important;
        width: 100% !important;
        height: 60px !important;
    }

    #navegadorMain li a, #navegadorUser li a{
        border-radius: 0 !important;
    }

    #navegadorMain li a img, #navegadorUser li a img{
        margin-top: 10px;
    }

    /*------------CONTENIDO MAIN------------*/

    .logoWeb{
        width: 90% !important;
    }

    .logoGame{
        width: 200px !important;
    }

    .textMain{
        width: 100% !important;
        margin: 20px auto 0px auto !important;
        padding: 30px 30px 18px 30px !important;
        border-radius: 0 !important;
    }

    /*-----------NEW/EDIT FATUI---------------*/

    #formRest>div, #formRestEdit>div{
        display: none !important;
    }

    .number, .inputs{
        text-align: center !important;
    }

    #form ul{
        width: 100% !important;
    }

    #formRest, #formRestEdit{
        width: 100% !important;
        min-width: 0 !important;
        margin-bottom: 50px;
    }

    #formRestEdit{
        margin: 0 0 0 15px !important;
    }

    #contenidoNew{
        margin-top: 90px !important;
    }

    #cerrrarEdit{
        top: 0 !important;
        right: 25px !important;
        font-size: 30px !important;
    }

    /*-------------BUSCAR---------------*/

    .buscador{
        width: 100% !important;
        min-width: 0 !important;
    }

    /*------------- LISTAR -------------*/

    #contenidoList{
        margin-top: 90px !important;
    }

    #contenidoPaginaLista{
        width: 100%;
    }

    #contenidoPaginaLista img{
        /*display: none;*/
    }

    .listaFatuis{
        width: 100% !important;
    }

    .fatuiEnter{
        width: 100% !important;
        height: auto !important;
        flex-direction: column !important;
    }

    .dataBot, .dataTop{
        width: 100% !important;
        margin: 15px 0 0 0 !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

    .dataFatui{
        width: auto !important;
        margin: 0 5% 0 5% !important;
    }

    .botones{
        width: auto !important;
        margin: 20px 0 0 0 !important;
    }

    .bList{
        margin: 0 5% 20px 5% !important;
    }

    .dataTop label, .dataBot label{
        margin: 0 !important;
    }

    .dataBot p, .dataTop p{
        margin: 0 !important;
    }

    .file-box{
        width: 85% !important;
    }


    /*------------------------*/

}

*{
    font-family: Arial, serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #3A3A3A;
    text-align: center;
}

.container{
    min-height: 100%;
}

.main{
    overflow: auto;
    padding-bottom: 43px;
}

/*VENTANA EMERGENTE LOGIN*/
#modal, #modalReg{
    display: none;
    position: fixed;
    z-index: 120;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
}

#login, #reg{
    width:25%;
    padding:3% 2% 2% 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-width:350px;
    background-color: #444444;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

#login>img, #reg>img{
    margin-bottom: 20px;
}

#login>h1, #reg>h1{
    color: #F0F0F0;
}

.registrate{
    margin: 15px 0 15px 0;
}

.registrate h3{
    color: #F0F0F0;
    margin-bottom: 7px;
}

.registrate a{
    color: #FF1D28;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

.registrate a:hover{
    color: #ff5058;
    transition: all ease 0.1s;
}

.registrate a:active{
    color: #8f0c14;
}


#login>ul, #reg>ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#cerrrarLogin, #cerrrarReg {
    position: relative;
    right: 0;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/*-----------HEADER-----------*/

header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 5px 10px 3px 10px;
    background: #444444;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    z-index: 50;
}

header img{
    height: 50px;
    float: left;
}
#movMenu{
    cursor: pointer;
}

#iniciarSesion{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    padding-right: 50px;
}

#iniciarSesion span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#iniciarSesion:hover{
    color: #ff5058;
    transition: all ease 0.1s;
}

#iniciarSesion:active{
    color: #8f0c14;
}

#userInfo{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #F0F0F0;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
    padding-right: 50px;
}

#userInfo:hover{
    color: #ff5058;
    transition: all ease 0.1s;
}

#userInfo:active{
    color: #8f0c14;
}

#userInfo span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iconUser{
    position: relative;
}

.avatar{
    padding: 3px 0 5px 20px;
    border-radius: 100px;
}

.messages{
    position: absolute;
    height: 15px;
    margin-left: -10px;
    margin-top: 5px;
    display: none;
}

.arrow{
    position: absolute;
    height: 10px;
    margin-top: 36px;
}

/*-----------NAV-------------*/

nav{
    position: absolute;
    height: 50px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav img{
    height: 30px;
}

#navegadorMain{
    display: none;
    list-style: none;
    padding: 0;
    margin: 0 10px 0 10px;
    flex-direction: row;
    justify-content: center;
    z-index: 10;
}

#navegadorUser{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

#navegadorMain li, #navegadorUser li{
    width: 150px;
    height: 40px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navegadorUser li{
    width: 250px;
    height: 50px;
    margin-right: 35px;
}

#navegadorMain li a, #navegadorUser li a{
    padding: 4px;
    width: 100%;
    height: 100%;
    background: #FF1D28;
    color: #F0F0F0;
    z-index: 0;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 0 0 25px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navegadorUser li a{
    border-radius: 0;
}

#navegadorMain li a span, #navegadorUser li a span{
    margin-left: 5px;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navegadorUser li a img {
    margin-top: 5px;
}

.selected{
    opacity: 1;
}

.notSelected{
    opacity: 0.5;
}

#navegadorMain li a:hover, #navegadorUser li a:hover{
    opacity: 1;
}

.subir{
    background: #F0F0F0 !important;
    color: #FF1D28 !important;
}

/*---------SECTION-------------*/

section{
    position: relative;
}

/*-----------FOOTER-----------*/

footer{
    position: relative;
    width: 100%;
    height: 43px;
    padding: 0 10px 0 10px;
    background-color: #F0F0F0;
    margin-top: -43px;
    clear: both;
}

footer img{
    padding: 3px 0 2px 0;
    height: 40px;
    float: left;
}

.redesSociales{
    float: right;
    padding: 8px;
    cursor: pointer;
}

.redesSociales:hover{
    filter: opacity(70%);
}

/*---------CONTENIDO INDEX-----------*/

#contenidoMain{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoWeb{
    width: 700px;
    margin: auto;
}

.logoGame{
    width: 300px;
    margin: 30px auto 0 auto;
}

.textMain{
    width: 500px;
    background: #F0F0F0;
    color: #3A3A3A;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.textMain>h1{
    margin-bottom: 10px;
    font-weight: bold;
}

.textMain>p{
    margin-top: 20px;
}

.colorAccent{
    color: #FF1D28;
    font-weight: bolder;
}


/*----------FORM--------------*/

#contenidoNew{
    margin-top: 120px;
    margin-bottom: 50px;
}

#contenidoNew>h1{
    margin-bottom: 20px;
    color: #F0F0F0;
}

#form, #formEdit, #formLogin, #formReg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#form ul, #formEdit ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 300px;
}

li>label{
    font-weight: bold;
}

.inputs{
    width: 20%;
    min-width: 250px;
    padding: 12px 20px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 0 solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

.number{
    width: 5%;
    min-width: 50px;
    text-align: right;
    padding-right: 0;
    padding-left: 0;
}

#formRest, #formRestEd{
    width:40%;
    padding:3% 2% 2% 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    min-width:500px;
    background-color: #444444;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);

}

#formRest>div{
    width: 200px;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

#formRest label, #formRestEd label, #formLogin label, #formReg label{
    color: #FF1D28;
}

.button{
    font-size: 17px;
    height: 50px;
    width: 200px;
    margin: 15px auto;
    background-color: #FF1D28;
    color: #ffffff;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.button:hover{
    background-color: #ff5058;
    transition: all ease 0.1s;
}

.button:active{
    background-color: #8f0c14;
}

/*------------- LISTA FATUIS--------------*/

#contenidoList{
    margin-top: 120px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contenidoPaginaLista{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenidoPaginaLista h1{
    margin-bottom: 20px;
    color: #F0F0F0;
}

.listaFatuis{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fatuiEnter{
    width: 960px;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #444444;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.imageFatui img{
    width: 200px;
    height: 200px;
}

.dataFatui{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0 0 20px;
}

.dataTop, .dataBot{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.dataTop p, .dataBot p{
    font-size: 15px;
    color: #FF1D28;
    font-weight: bolder;
    margin: 0 10px 0 0;
    padding: 10px;
}

.dataTop label, .dataBot label{
    font-size: 15px;
    background: #F0F0F0;
    margin: 0 50px 0 0;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: inset 3px 3px 3px 0px rgba(0,0,0,0.5);
}

.botones{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bList{
    width: 90%;
    margin-right: 10%;
}

/*VENTANA EMERGENTE EDITAR FATUI*/
#modalEdit{
    display: none;
    position: fixed;
    z-index: 120;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
}

#formRestEdit{
    width:40%;
    padding:3% 2% 2% 2%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    min-width:500px;
    background-color: #444444;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

#formRestEdit>div{
    width: 200px;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

#formRestEdit label{
    color: #FF1D28;
}

#cerrrarEdit, #cerrrarLogin, #cerrrarReg {
    position: relative;
    height: 45px;
    right: 40px;
    top: 10px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    color: #FF1D28;
}

#cerrrarEdit:hover, #cerrrarLogin:hover, #cerrrarReg:hover {
    color: #ff5058;
    transition: all ease 0.1s;
}

#cerrrarEdit:active, #cerrrarLogin:active, #cerrrarReg:active {
    color: #8f0c14;
}

/*------------------BUSCAR----------------------------*/

.buscador{
    width: 50%;
    min-width:500px;
    margin: 0px auto 30px auto;
    padding: 10px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #444444;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.buscador>h1{
    color: #006700;
}

.textBusc{
    color: #737373;
    margin-bottom: 20px;
}

#formBuscar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buscar{
    outline: none;
    width: 60%;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    font-size: 15px;
    background-color: #ffffff;
    background-image: url('../img/lupamini.png');
    background-position: 12px 10px;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 45px;
    border: 1px solid #FF1D28;
}
.botBusqueda{
    background-color: #FF1D28;
    font-size: 15px;
    color: #ffffff;
    height: 40px;
    width: 25%;
    border: none;
    border-radius: 0px 10px 10px 0px;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid #FF1D28;
    border-left: none;
}

.botBusqueda:hover{
    background-color: #ff5058;
    transition: all ease 0.1s;
}

.botBusqueda:active{
    background-color: #8f0c14;
}

/*-----------------SUBIR ARCHIVO-----------------*/

input[type="file"]{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile-box {
    position: relative;
    margin: 10px 0 0 0;
}

.inputfile {
    display: none;
}

.file-box {
    float: right;
    display: inline-block;
    background-color: #ffffff;
    width: 260px;
    padding: 10px 0 5px 10px;
    box-sizing: border-box;
    height: 37px;
    border-radius: 100px;
    margin: 0 25px 25px 0;
    color: black;
}

.file-button {
    background-color: #FF1D28;
    font-size: 13px;
    color: #ffffff;
    padding: 0px 10px 0px 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 37px;
    border-radius: 0px 100px 100px 0px;
    font-weight: bolder;
    box-sizing: border-box;
    float: right;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 25px 25px 0;
    border-left: 1px solid #FF1D28;
}

.file-button:hover{
    background-color: #ff5058;
    transition: all ease 0.1s;
}

.file-button:active{
    background-color: #8f0c14;
}

span img{
    float: left;
    width: 30px;
    padding: 0px 5px 0px 8px;
}